#transactions {
  width: 80vw;
  align-self: center;
  margin-left: 10vw;
  margin-top: 3vh;
  min-height: 75vh;
  height: 75vh;
  display: flex;
}
#transactions .MuiDataGrid-root {
  background-color: #fefae0;
  border-radius: 8px;
}
.negative {
  color: red;
}
.positive {
  color: green;
}
.date-picker {
  margin-top: 2vh;
  display: flex;
  justify-content: space-evenly;
}